* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

@font-face {
    font-family: Strike;
    src: url(/src/Assets/Protest_Strike/ProtestStrike-Regular.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(/src/Assets/Montserrat-Light.ttf);
}

@font-face {
    font-family: Monregular;
    src: url(/src/Assets/Montserrat/static/Montserrat-Regular.ttf);
}


.home-component {
    width: 100%;
    min-height: 100vh;
    padding:60px 100px;
    gap: 50px;
}

.home-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: 0%;
}

.home-container > video {
    left: 0%;
    width: 100%;
    height: 700px;
    object-fit: cover;
    position: relative;
}

.home-container > h1 {
    font-size: 40px;
    padding: 40px;
    color: #fff;
    /* text-shadow: 2px 2px 2px #F4BD50; */
    position: absolute;
    text-align: center;
    font-family: Strike;
}
@media screen and (max-width:896px) {
    .home-component {
        width: 100%;
        min-height: 100vh;
        padding: 100px 10px;
    }
    
    .home-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        left: 0%;
    }
    
    .home-container > video {
        left: 0%;
        width: 100%;
        height: 500px;
        object-fit: cover;
        position: relative;
    }
    
    .home-container > h1 {
        font-size: 30px;
        padding: 0px;
        text-shadow: 2px 2px 2px #F4BD50;
        position: absolute;
        text-align: center;
        font-family: Strike;
    }
}

.reserve-daily-menu-con {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(0,0,0,0.2);
    gap: 40px;
    padding-top: 300px;
}

.reserve {
    /* width: 100%; */
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 440px;
    z-index: 105;
}

.reserve-daily-menu-con > a {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    color: gray;
    font-family: Strike;
}

.reserve-daily-menu-con > a:hover {
    color: black;
    background-color: antiquewhite;
}

@media screen and (max-width:896px) {
    .reserve-daily-menu-con {
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        background-color: rgba(0,0,0,0.2);
        gap: 40px;
        padding: 20px;
        padding-top: 170px;
    }
    
    .reserve {
        /* width: 100%; */
        position: absolute;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 270px;
        z-index: 105;
    }
    
    .reserve-daily-menu-con > a {
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        background-color: #fff;
        border-radius: 10px;
        color: gray;
        font-family: Strike;
        font-size: 13px;
    }   
}

.about-us-con {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    border: 0.5px solid gray;
    /* background-image: url(https://i.ibb.co/93cBcKw7/dinner.jpg); */
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 40px;
    font-weight: 400;
}
@media screen and (max-width:896px) {
    .about-us-con {
        width: 100%;
        height: 450px;
        padding: 40px 10px;
        justify-content: flex-start;
        flex-direction: column;
    }
}

.about-text {
    width: 100%;
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}
.about-text > h2 {
    font-size: 30px;
    color: #222;
    font-family: Strike;
    font-weight: 400;
}
.about-text > p {
    font-size: 17px;
    line-height: 2.5rem;
    color: #222;
    font-family: Montserrat;
}
@media screen and (max-width:896px) {
    .about-text {
        width: 100%;
        display: flex;
        justify-content:center;
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;
    }
    .about-text > h2 {
        font-size: 20px;
        font-family: Strike;
    }
    .about-text > p {
        font-size: 17px;
        line-height: 1.5rem;
        /* color: #fff; */
        font-weight: 400;
        font-family: Montserrat;
    }
}

.open-text {
    width: 100%;
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
    color: #3c3b3b;
}
.open-text > h2 {
    font-size: 30px;
    font-family: Strike;
}

.open-text > span {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.open-text > span > h1 {
    font-size: 20px;
    /* color: #fff; */
    font-family: Strike;
}
.open-text > span > h3 {
    font-size: 20px;
    /* color: #fff; */
    font-family: Strike;
}

@media screen and (max-width:896px) {
    .open-text {
        width: 100%;
        display: none;
        /* color: #fff; */
    }
    .open-text > h2 {
        display: none;
    }
    .open-text > span {
        display: none;
    }
}

.our-meal-by-category {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-image: url(https://i.ibb.co/qLYwP0rL/New-Punjab-Club-food-spread.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.our-meal-by-category > h1 {
    font-size: 40px;
    color: #fff;
    /* text-shadow: 2px 2px 2px #F4BD50; */
    position: absolute;
    text-align: center;
    font-family: Strike;
}
.reservate {
    padding-top: 200px;
}
@media screen and (max-width:896px) {
    .our-meal-by-category {
        width: 100%;
        height: 450px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        background-image: url(https://i.ibb.co/qLYwP0rL/New-Punjab-Club-food-spread.jpg);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }
    
    .our-meal-by-category > h1 {
        font-size: 25px;
        padding: 10px;
        position: absolute;
        text-align: center;
        font-family: Strike;
        transform: translateY(-40px);
    }
    .reservate {
        padding-top: 10px;
    }
}