* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    text-decoration: none;
}

@font-face {
    font-family: Strike;
    src: url(/src/Assets/Protest_Strike/ProtestStrike-Regular.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(/src/Assets/Montserrat-Light.ttf);
}

@font-face {
    font-family: Monregular;
    src: url(/src/Assets/Montserrat/static/Montserrat-Regular.ttf);
}


.meal-details-component {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 100px 50px;
  gap: 20px;
}

.meal-details-component > h2 {
  font-size: 25px;
  color: #222;
  font-family: Monregular;
}

.meal-wrap-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
  /* background-color: #a0a3a6; */
}

.meal-wrap-container > img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.meal-wrap-container-text {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  color: #222;
  gap: 10px;
}
.meal-wrap-container-text > .instruction {
  font-family: Montserrat;
  line-height: 1.6rem;
  font-size: 14px;
}

.meal-wrap-container-text > p {
  font-family: Monregular;
}

.meal-wrap-container-text > a {
  color: #f4bd50;
  font-size: 17px;
  transition: all 0.3s ease-in-out;
}
.meal-wrap-container-text > a:hover {
  color: #222;
  padding-left: 10px;
  transition: all 0.3s ease-in-out;
}


.skeleton-loader {
    width: 100%;
    height: 600px;
    background-color: gray;
    animation: pulse 1.5s infinite alternate;
  }
  
  @keyframes pulse {
    0% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  