* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
@font-face {
    font-family: Strike;
    src: url(/src/Assets/Protest_Strike/ProtestStrike-Regular.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(/src/Assets/Montserrat-Light.ttf);
}



.reservation-component {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@media screen and (max-width:896px) {
    .reservation-component {
        width: 100%;
    }
}

.reservation-overlay {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    top: 10px;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 101;
    background-color: rgba(32,32,32,0.5);
}

.reservation-overlay > .reserve-card {
    width: 400px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    background-color: #F9F9FF;
    padding:20px 0px;
}

.reservation-overlay > .reserve-card > span {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

@media screen and (max-width:896px) {
    .reservation-overlay {
        width: 100%;
        height: 100vh;
        display: flex;
        top: 0px;
        justify-content: center;
        align-items: center;
    }
    
    .reservation-overlay > .reserve-card {
        width: 200px;
        /* height: 500px; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #F9F9FF;
        padding:10px 0px;
    }
    
    .reservation-overlay > .reserve-card > span {
         width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0px;
    }
}

.reserve-card > span > form {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.reserve-card > span > form > input {
    width: 350px;
    height: 38px;
    border: 1px solid #7d7979;
    background-color: transparent;
    padding: 10px;
    border-radius: 7px;
    outline: none;
}

@media screen and (max-width:896px) {
    .reserve-card > span > form {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }
    
    .reserve-card > span > form > input {
        width: 100%;
        height: 38px;
        border: 1px solid #7d7979;
        background-color: transparent;
        padding: 10px;
        border-radius: 7px;
        font-size: 12px;
    }
    
}

.reserve-card > span > form > .reserve-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.reserve-card > span > form > .reserve-btn > button {
    width: 100px;
    border: none;
    background-color: antiquewhite;
    padding: 6px;
    border-radius: 7px;
    color: gray;
    font-weight: 600;
    font-size: 15px;
}
@media screen and (max-width:896px) {
.reserve-card > span > form > .reserve-btn {
    gap: 10px;
}
.card > span > form > .btn > button {
    width: 70px;
    border: none;
    background-color: #fff;
    padding: 6px;
    border-radius: 7px;
    color: gray;
    font-weight: 600;
    font-size: 12px;
}
}

span > form > .reserve-btn > button:nth-child(2) {  
    border: 1px solid antiquewhite;
    color: red;
}

span > form > .reserve-btn > button:nth-child(1):hover {
    background: antiquewhite;  
    color: #000;
} 

span > form > .reserve-btn > button:nth-child(2):hover {
    background-color: antiquewhite;
    color: #000;
}

.view-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
}

.view-btn > button {
    width: 150px;
    background-color: #fff;
    color: gray;
    padding:10px;
    border-radius: 5px;
    font-weight: 550;
    border: none;
    cursor: pointer;
    
}

.view-btn > button:hover {
    background-color: antiquewhite;
    color: #000;
}

@media screen and (max-width:896px) {
    .view-btn {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    
    .view-btn > button {
        padding:7px;
        font-size: 14px;
        font-weight: 550;
    }
}