.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
  }
  
  .nav-link {
    display: flex;
  }
  
  .nav-link li {
    margin-left: 20px;
  }
  
  .search-icon {
    cursor: pointer;
  }
  
  .search-bar {
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: white;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    width: 100%;
  }
  
  .search-bar input {
    padding: 8px;
    width: 80%;
  }
  
  .search-results {
    margin-top: 10px;
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
  }
  
  .meal-item {
    padding: 8px 0;
  }
  
  .meal-item a {
    color: #333;
    text-decoration: none;
  }
  
  .search-bar button {
    margin-top: 5px;
    padding: 5px 10px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  